
.container p {
    font-size: 16px;
    font-weight: 200;
    color: var(--color-light);
    text-align: center;
}
.skills-bar{
    width: 800px;
    background: var(--color-bg);
    border-radius: 12px;
    padding: 25px 30px;
    box-shadow: rgba(0, 0, 0, 0.9) 0px 30px 90px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 80%;
}

.skills-bar .bar {
    margin: 20px 0;
}

.skills-bar .bar:first-child {
    margin-top: 0px;
}
.skills-bar .bar .info{
    margin-bottom: 5px;
}
.skills-bar .bar .info span{
    font-size: 17px;
    font-weight: 500;
}

.skills-bar .bar .progress-line {
    position: relative;
    height: 10px;
    width: 100%;
    background: var(--color-light);
    border-radius: 10px 10px;
    transform-origin: left;
    transform: scaleX(0);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}

.bar .progress-line span {
    height: 100%;
    width: 80%;
    background: var(--color-primary);
    position: absolute;
    border-radius: 10px;
    transform-origin: left;
    transform: scale(0);
    animation: animate 1s 0.5s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}
.progress-line.html span{
    width: 90%;
}
.progress-line.css span {
    width: 75%;
}
.progress-line.javascript span {
    width: 60%;
}
.progress-line.react span {
    width: 75%;
}
.progress-line.tailwind span {
    width: 70%;
}
.progress-line.photoshop span {
    width: 80%;
}
.bar .progress-line span::before {
    position: absolute;
    content: "";
    right: 0;
    top: -10px;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: var(--color-white);
    opacity: 0;
    animation: showtext2 0.5s 1.5s linear forwards;
}
.bar .progress-line span::after {
    position: absolute;
    content: "80%";
    right: 0;
    top: -28px;
    color: #000;
    font-size: 12px;
    font-weight: 500;
    background:var(--color-white);
    padding: 1px 8px;
    border-radius: 3px;
    opacity: 0;
    animation: showtext2 0.5s 1.5s linear forwards;
}
@keyframes showtext2 {
    100%{
        opacity: 1;
    }
    
}
.progress-line.html span::after {
    content: "90%";
}
.progress-line.css span::after {
    content: "75%";
}
.progress-line.javascript span::after {
    content: "60%";
}
.progress-line.react span::after {
    content: "75%";
}
.progress-line.tailwind span::after {
    content: "70%";
}
.progress-line.photoshop span::after {
    content: "80%";
}